body {
    font-family: 'Raleway', sans-serif;
}

#header {
    background-color: steelblue;
    color: white;
    font-size: 1em;
    top: 0;
    left: 0;
    padding: 5px;
    margin: -1%;
}

#header ul {
    list-style-type: none;

}

#header ul li {
    display: inline;
    padding: 5px;
}

#header a {
    text-decoration: none;
    color: white;
}

#header a:hover {
    color: lightgray;
}

h1 {
    font-weight: normal;
}

h1, p {
    text-align: center;
}

h1 + p {
    margin-top: -1%;
}

input {
    border: 1px solid gainsboro;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=text] {
    width: 350px;
    height: 35px;
    font-size: .9em;
}

input[type=submit] {
    color: white;
    background-color: steelblue;
    border-color: steelblue;
    font-weight: bold;
    width: 100px;
    height: 35px;
    font-size: .9em;
}

#d3-dpla, #message, #hide {
    margin-bottom: 15px;
    float: left;
    position: relative;
}

#message {
    padding-left: 5%;
    font-weight: bold;
    font-size: 1.1em;
    font-family: Arial, sans-serif;
}

.hide {
    display: none;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width:  auto;
    height: auto;
    padding: 5px;
    fill: black;
    font: 12px Ralway,sans-serif;
    background: gainsboro;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}